.action-button {
    display: block;
    margin: 0 -15px 1em;
}

.action-button a {
    color: #fff;
    display: block;
    font-size: 1.250em;
    font-weight: 500;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
}

.action-button a:hover {
    background: #fff;
}

.blue-button a {
    background: #3ebbe6;
    border: 2px solid #3ebbe6;
}

.blue-button a:hover {
    color: #3ebbe6;
}

.orange-button a {
    background: #f8992f;
    border: 2px solid #f8992f;
}

.orange-button a:hover {
    color: #f8992f;
}

.green-button a {
    background: #bdd73c;
    border: 2px solid #bdd73c;
}

.green-button a:hover {
    color: #bdd73c;
}

.teal-button a {
    background: #00a0b4;
    border: 2px solid #00a0b4;
}

.teal-button a:hover {
    color: #00a0b4;
}

@media screen and (min-width: 768px) {
    .action-button {
        display: inline-block;
        margin: 1.5em 0;
    }

    .action-button.wide {
        display: block;
    }

    .action-button a {
        padding: 13px 1.5em;
    }
}
